@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.CourseNum, "Course Number")
  @Html.TextBoxFor(model => model.CourseNum)
  <input type="submit" value="Add new course"/>
}
<p>@Html.ActionLink("Show all courses", "Index")</p>