@{
  Layout = "_Layout";
}

@using Registrar.Models;
@model Registrar.Models.Course;

<h1>Course Details</h1>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>Course Number: @Html.DisplayFor(model => model.CourseNum)<h3></h3>

@if(Model.JoinEntities.Count == 0)
{
  <h3>No students have been added to this course yet.</h3>
}
else
{
  <h3>Enrolled Students:</h3>
  <ol>
    @foreach(StudentCourse studentCourse in Model.JoinEntities)
    {
      <li>@studentCourse.Student.Name</li>
    }
  </ol>
}
<p>@Html.ActionLink("Add student to course", "AddStudent")</p>
