@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Student


<h2>Student Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Date of Enrollement: @Html.DisplayFor(model => model.DateOE)</h3>

@if(Model.JoinEntities.Count == 0)
{
  <h3>No courses have been added to this student yet.</h3>
}
else
{
  <h3>Courses:</h3>
  <ul>
    @foreach(StudentCourse studentCourse in Model.JoinEntities)
    {
      <li>@studentCourse.Course.Name | @studentCourse.PassFail</li>
      @using  (Html.BeginForm())
      {
        @*@Html.HiddenFor(model => model.JoinEntities)*@
        @*@Html.HiddenFor(model => )*@
        @Html.Hidden("id", studentCourse.StudentCourseId)
        <button type="submit" value="SetPassFail" class="btn btn-primary" name="buttonType">Pass Or Fail</button>
      }
    }
  </ul>
}

<p><a href="#" class="link-secondary">@Html.ActionLink("Add a course for this student", "AddCourse", new {id = Model.StudentId})</a></p>
<p><a href="#" class="link-secondary">@Html.ActionLink("Edit student information", "Edit", new {id= Model.StudentId})</a></p>
<p><a href="#" class="link-secondary">@Html.ActionLink("Delete student", "Delete", new {id = Model.StudentId})</a></p>